html {
  font-size: 16px;
}

.btn,
.form-control {
  border: 1px solid lightgray;
  border-radius: 5px;
  font-size: 14px;
  padding: 5px 5px;
  display: block;
}

.form-control {
  width: 300px;
}

.ContactForm {
  text-align: center;
}

.form-control,
.mb {
  margin-bottom: 10px;
}

.form-control:focus {
  border-color: #2020FF;
}

.form-control:invalid {
  border-color: #FF2020;
}