<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <meta http-equiv="X-UA-Compatible" content="ie=edge">
  <title>Vue Router</title>
</head>
<body>
  <main id="app">
    <h1>Vue Router</h1>
    <h2>Conceptos básicos</h2>
    <a href="../#rutas">Regresar</a>
    <router-link to="/">Home</router-link>
    <router-link to="/about">About</router-link>
    <router-link to="/contact">Contact</router-link>
    <router-link to="/courses">Cursos</router-link>
    <router-link to="/courses/vue">Cursos Vue.js</router-link>
    <router-link to="/courses?id=vue">Cursos Vue.js</router-link>
    <hr>
    
    <router-view></router-view>
    <pre>{{ JSON.stringify($route, null, 2) }}</pre>
  </main>
  <script src="https://cdn.jsdelivr.net/npm/vue"></script>
  <script src="https://unpkg.com/vue-router/dist/vue-router.js"></script>
  <script>
    const Home = {template: '<h2>Home</h2>'}
    const About = {template: '<h2>About</h2>'}
    const Contact = {template: '<h2>Contact</h2>'}
    const Error404 = {template: '<h2>Error 404</h2>'}

    const Courses = {
      template: `
        <div>
          <h2>Cursos</h2>
          <h3 v-if="$route.params.id">Params: Curso {{ $route.params.id }}</h3>
          <h3 v-if="$route.query.id">Query: Curso {{ $route.query.id }}</h3>
        </div>
      `
    }

    const routes = [
      { path:'/', component: Home},
      { path:'/about', component: About},
      { path:'/contact', component: Contact},
      //{ path:'/courses', component: Courses},
      { path:'/courses/:id?', component: Courses},
      { path:'*', component: Error404}
    ]

    const router = new VueRouter({routes})

    new Vue({
      router,
      el: '#app'
    })
  </script>
</body>
</html>